server:
  port: 8080

spring:
  application:
    name: catalog-service
  datasource:
    url: jdbc:postgresql://localhost:5432/entertainment?currentSchema=catalog_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: catalog_db

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    com.entertainment.catalog: DEBUG
