server:
  port: 8080

spring:
  application:
    name: catalog-service
  datasource:
    url: jdbc:postgresql://localhost:5432/entertainment?currentSchema=catalog_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: catalog_db
        cache:
          use_second_level_cache: true
          region:
            factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
        generate_statistics: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

hazelcast:
  metrics:
    enabled: true
    micrometer:
      enabled: true

logging:
  level:
    com.entertainment.catalog: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.cache: DEBUG
    com.hazelcast: INFO
