server:
  port: 8081

spring:
  application:
    name: watch-history-service
  datasource:
    url: jdbc:postgresql://localhost:5432/entertainment?currentSchema=watch_history_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: watch_history_db
        cache:
          use_second_level_cache: true
          region:
            factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
        generate_statistics: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all

catalog-service:
  url: http://localhost:8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

hazelcast:
  metrics:
    enabled: true
    micrometer:
      enabled: true

logging:
  level:
    com.entertainment.watchhistory: DEBUG
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.cache: DEBUG
    com.hazelcast: INFO
